
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <style>
        .wid{
            width:300px;

        }
        .heig
        {
            font-size: 23px;
        }
        .frm{
            margin-top:30px;
            margin-left:500px;
        }
        .p{
            margin-left:350px;
            font-family: 'Limelight', cursive;
            font-size:25px;
            color:yellowgreen;
        }
        .bgcol
        {
            background-color: black;
        }
    </style>    <!-- Latest compiled and minified CSS -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body class="bgcol">
<p class="p">Be a Driver and explore city with happy customers</p>
<br>
<br>
<div id="app">

    <p class="p">SELECT THE INFO TO BE UPDATED</p>
   <div class="container" style="margin-left:180px ">
       <div class="row">
        <div class="col-md-4">
        <button class="btn btn-danger" v-on:click="name=!name">Name</button>
        </div>
           <div class="col-md-4">

               <button class="btn btn-danger" v-on:click="rank=!rank">Rank</button>
           </div>
           <div class="col-md-4">

               <button class="btn btn-danger" v-on:click="available=!available">Available</button>
           </div>
       </div>
   </div>

    <form class="frm" action="/ninjaup" method="POST" >
        <div class="form-group has-success has-feedback wid" v-if="name">
            <label style="color:yellowgreen;font-family: 'Limelight', cursive;">Name </label>
            <input type="text" class="form-control "  name="name" placeholder="Name" required/>
            <span class="glyphicon glyphicon-user form-control-feedback heig"> </span>
        </div>

        <div class="form-group has-success has-feedback wid " v-if="rank">
            <label style="color:yellowgreen;font-family: 'Limelight', cursive;">Rank </label>
            <input type="text" class="form-control "  name="rank" placeholder="rank" required />
            <span class="glyphicon glyphicon-knight form-control-feedback heig"> </span>
        </div>
        <div class="form-group has-success has-feedback wid " v-if="available">
            <label style="color:yellowgreen;font-family: 'Limelight', cursive;">Availability</label>
            <input type="text" class="form-control "  name="available" placeholder="rank" required />
            <span class="glyphicon glyphicon-log-in form-control-feedback heig"> </span>
        </div>
        <div class="form-group has-success has-feedback wid ">
            <label style="color:yellowgreen;font-family: 'Limelight', cursive;">Enter your driver id</label>
            <input type="text" class="form-control "  name="id" placeholder="ID" required/>
            <span class="glyphicon glyphicon-knight form-control-feedback heig"> </span>
        </div>
        <input type="submit" class="btn btn-primary">
    </form>

</div>

<script>
    new Vue({
        el:"#app",
        data:{
            name:true,
            rank:false,
            available:false
        }
    });
</script>
</body>

</html>